<div class="conteneur">
    <div class="title">Proverbs List</div>
    
        <div *ngFor="let proverb of proverbs" class="row proverb">
            <div class="col-8">{{proverb.saying}}</div>
            <div class="col-2 center">
                <div class="author">
                {{proverb.author}}
                </div>
             </div>
            <span class="col-2 right">
                <div class="row">
                    <div class="bouton" routerLink="/update/{{proverb.id}}">Modify</div>
                    <div class="bouton" (click)="Delete(proverb.id)">Delete</div>
                </div>
            </span>
        </div>
    
    <!-- <ngb-pagination>
        <ng-template ngbPaginationFirst>First</ng-template>
        <ng-template ngbPaginationLast>Last</ng-template>
        <ng-template ngbPaginationPrevious>Prev</ng-template>
        <ng-template ngbPaginationNext>Next</ng-template>
        <ng-template ngbPaginationEllipsis>...</ng-template>
        <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
    </ngb-pagination>
    <ngb-pagination [(page)]="5" [pageSize]="10" [collectionSize]="proverbs.length"></ngb-pagination> -->
</div>